{% extends 'blog/base.html' %}

{% block title %}About Us - The Incurable Optimist{% endblock %}

{% block content %}
    <h1>About Me</h1>
    <p>
        Welcome to The Incurable Optimist! This blog is dedicated to sharing daily scriptures with metaphysical exegesis and practical applications to life. I am passionate about spiritual growth and helping others find deeper meaning in their lives.
    </p>
    <p>
        My mission is to inspire and guide spiritual growth seekers and metaphysical enthusiasts by providing daily reflections that promote positivity, healing, and personal development.
    </p>
{% endblock %}
