{% extends 'blog/base.html' %}

{% block title %}About Us - The Incurable Optimist{% endblock %}

{% block content %}
    <div class="comment">
            <h1>About Me</h1>
            <p>
                Welcome to The Incurable Optimist Blog! This blog is dedicated to sharing daily scriptures with metaphysical exegesis and practical applications to life.
            </p>
            <p>
                I am passionate about spiritual growth and helping others find deeper meaning in their lives, hence I have given myself to spiritual studies.
            </p>
            <p>
                My mission is to inspire and guide spiritual growth seekers and metaphysical enthusiasts by providing daily reflections that promote positivity, healing, and effective living.
            </p>
    </div>
{% endblock %}
