{% extends 'blog/base.html' %}
{% load static %}

    <!-- Meta Description: Aim for 150-160 characters -->
    <meta name="description" content="Explore daily scriptures with metaphysical exegesis and life applications on The Incurable Optimist blog. Join a journey of spiritual growth and enlightenment.">

    <!-- Keywords: Include relevant terms -->
    <meta name="keywords" content="daily scriptures, metaphysical exegesis, spiritual growth, metaphysical blog, spiritual seekers, life applications, spiritual wisdom">

    <!-- Open Graph Meta Tags for Social Sharing -->
    <meta property="og:title" content="The Incurable Optimist | Daily Scriptures for Spiritual Growth">
    <meta property="og:description" content="Explore daily scriptures with metaphysical exegesis and life applications on The Incurable Optimist blog.">
    <meta property="og:image" content="{% static 'blog/logo.png' %}"> <!-- Social sharing image -->
    <meta property="og:url" content="{{ request.build_absolute_uri }}"> <!-- Ensure correct page URL -->

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="The Incurable Optimist | Daily Scriptures for Spiritual Growth">
    <meta name="twitter:description" content="Explore daily scriptures with metaphysical exegesis and life applications.">
    <meta name="twitter:image" content="{% static 'blog/logo.png' %}">

{% block content %}
    <!-- Posts Section -->
    <section class="mb-10">
        <h2 class="recent text-4xl font-bold mb-8">Recent Posts</h2>
        <div class="grid md:grid-cols-3 gap-8" id="post-list">
            {% include 'blog/post_partial_list.html' with posts=posts %}
        </div>
    </section>

    <div id="load-more-container">
        <button class="load bg-white text-indigo-700 px-6 py-3 rounded-r-lg font-bold" aria-label="Load more" id="load-more" data-page="2">Load More...</button>
        <button class="load bg-white text-indigo-700 px-6 py-3 rounded-r-lg font-bold" aria-label="Load less" id="load-less">...Load Less</button>
    </div>

    <section class="featured featured-posts">
        <h2 class="text-3xl font-bold mb-4">Featured Posts</h2>
        <div class="grid md:grid-cols-3 gap-8">
            {% for post in posts %}
                {% if post.is_featured %}
                    <div class="post-item">
                        <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
                        <p>{{ post.exegesis|striptags|truncatewords:20|safe}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>


<!--List posts by category -->
{% if categories %}
    <div class="recent">
            <h2 class="mt-5">Categories</h2>
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item"><a href="{% url 'category_posts' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endif %}
    <!-- Link to the JS file -->
    <script src="{% static 'blog/load_more.js' %}"></script>
{% endblock %}
